body {
background-color: white;
}

.top-navigation {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

input[type=text] {
	display: block;
	width: 200px;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	border-radius: 25px;

}

input[type="reset"] {
	border-radius: 25px
	color: red;
}


.top-navigation h1 {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
}

.content {
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.groceries {
	font-family: 'Roboto Condensed', sans-serif;

}

.groceries li img {
	width: 27px;
	vertical-align: middle;
	border-radius: 100%;
    border-color: white;
    border: 1px solid;
}

.done li img {
	width: 27px;
	vertical-align: middle;
	border-radius: 100%;
    border-color: #00cccc;
    border: 1.5px solid #00cccc;
}

.bought {
	font-family: 'Roboto Condensed', sans-serif;
}

.to-do {
background-image: url('http://i.imgur.com/wmwpDA9.jpg');
background-repeat: no-repeat;
background-size: cover;
background-color: #00ccff;
width: 600px;
height: 100%;
margin-left: auto;
   margin-right: auto;
       padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 30px;
}

ol, ul {
	list-style: none;
}

.to-do li {
color: #00cccc;
font-size: 20px;
font-weight: bold;
padding-top: 8px;
padding-bottom: 8px;

}

.done {
background-repeat: no-repeat;
background-color: #cccccc;
width: 600px;
height: 100%;
margin-left: auto;
    margin-right: auto;
        padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 30px;
}

.done li {
	color: #666666;
	font-size: 20px;
	font-style: italic;
	text-decoration: line-through;
	padding-top: 8px;
padding-bottom: 8px;
}
@media only screen and (max-width: 500px) {
    .top-navigation {
        padding: 3em 0;
    }
    .content {
        font-size: 3em;
    }
}