body {
	background-color: white;
}

.top-navigation {
	width: 600px;
	border-radius: 30px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.input-area {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#add-items {
	display: inline-block;
	width: 200px;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 176px;
	margin-right: 0px;
	font-family: sans-serif;
	border-radius: 25px;
	text-align: center;

}

#error {
	color: red;
	display: none;
}

button {
    height: 24px;
    width: 24px;
    background: none;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
    padding: 0 0 4px 0;
    display: inline-block;
}

input[type="reset"] {
	border-radius: 25px
	color: red;
}


.top-navigation h1 {
	font-family: 'Homemade Apple', cursive;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 36.160px;
	font-size: 2.5em;
}

.content {
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#groceries {
	font-family: 'Roboto Condensed', sans-serif;

}

#groceries li img {
	width: 27px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: white;
	border: 1px solid;
}

.done li img {
	width: 27px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
}

#bought {
	font-family: 'Roboto Condensed', sans-serif;
}

.to-do {
	background-image: url('http://i.imgur.com/wmwpDA9.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #00ccff;
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 30px;
}

ol, ul {
	list-style: none;
}

.to-do li {
	color: #00cccc;
	font-size: 21px;
	font-weight: 100;
	padding-top: 8px;
	padding-bottom: 8px;

}

.done {
	background-repeat: no-repeat;
	background-color: #cccccc;
	width: 600px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 30px;
}

.done li {
	color: #666666;
	font-size: 19px;
	font-style: italic;
	text-decoration: line-through;
	padding-top: 8px;
	padding-bottom: 8px;
}

.complete {
	content: url('../images/complete.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-right: 5px;
}

.complete:hover {
	content: url('../images/complete_hover.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-right: 5px;
}

.re-add {
	content: url('../images/readd.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-right: 5px;

}

.re-add:hover {
	content: url('../images/add-hover.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-right: 5px;
}

.delete {
	content: url('../images/delete.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-left: 5px;
}

.delete:hover {
	content: url('../images/delete_hover.png');
	width: 27px;
	height: 29px;
	vertical-align: middle;
	border-radius: 100%;
	border-color: #00cccc;
	border: 1.5px solid #00cccc;
	margin-left: 5px;
}

@media only screen and (max-width: 500px) {
	.top-navigation {
		padding: 3em 0;
	}
	.content {
		font-size: 3em;
	}
}